
#include "../Submodules/xcconfigs/Base/Targets/Framework.xcconfig"
#include "../Submodules/xcconfigs/Base/Configurations/Release.xcconfig"

PRODUCT_NAME = ThemingKit
PRODUCT_BUNDLE_IDENTIFIER = com.pilgrimagesoftware.lib.ThemingKit
MODULE_NAME = ThemingKit
IBSC_MODULE = ThemingKit
PRODUCT_MODULE_NAME = ThemingKit
EXECUTABLE_NAME = ThemingKit

INFOPLIST_FILE = Sources/ThemingKit/Info.plist

SWIFT_VERSION = 4.1

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/../Frameworks
